[submodule "src"]
	path = src
	url = git@github.com:dacdoan/stocks-src.git

[submodule "stockcharts"]
  path = stockcharts
  url = git@github.com:dacdoan/react-stockcharts.git

[submodule "broker"]
  path = broker
  url = git@github.com:dacdoan/stocks-broker.git

[submodule "notebook"]
  path = notebook
  url = git@github.com:algo-stocks/notebook.git
